#header {
    padding: 40px 0 35px 0;
    border-bottom: 3px solid #E5E5E5;
    background: #FFF;

    @include media('<tablet') {
        border: none
    }

    .container {
        @include adaptive-value("padding-left", 105, -100, 1);
        @include adaptive-value("padding-right", 34, -50, 1);

        @include media('<widescreen') {
            padding: 0 15px;
        }
    }

    .header_content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 25px;

        @include media('<widescreen') {
            align-items: center;
        }
    }

    .logo_wrap {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        position: relative;
        z-index: 3;

        @include media('<widescreen') {
            align-items: center;
        }
    }

    .logo_header {
        @include adaptive-value("width", 165, 105, 1);
    }

    .logo_name {
        color: rgba(37, 142, 3, 0.53);
        font-size: 20px;
        letter-spacing: -0.2px;
    }

    .menu {
        display: flex;
        align-items: flex-end;
        @include adaptive-value("gap", 40, 10, 1);

        @include media('<widescreen') {
            background-color: $white;
            box-shadow: -1px 0px 30px $gray;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            right: -100%;
            top: 0;
            transition: all .3s ease 0s;
            width: 40%;
            height: 100dvh;
            padding: 150px 20px 40px 20px;
            z-index: 2;

        }

        @include media('<tablet') {
            width: 55%;
        }

        @include media('<phone') {
            width: 100%;
        }

    }

    .active_menu {
        right: 0;
        transition: all .3s ease 0s;
    }

    .menu_list {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 53, -70, 1);

        @include media('<widescreen') {
            flex-direction: column;
            align-items: flex-start;
            flex: 1 1 auto;
            gap: 30px;
        }
    }

    .menu_link {
        color: $gray;
        @include adaptive-value("font-size", 20, 18, 1);
        letter-spacing: -0.2px;
        transition: all .3s ease 0s;

        @media (hover:hover) {

            &:hover {
                color: $green;
                transition: all .3s ease 0s;
            }

        }


        @include media('<widescreen') {
            font-weight: 700;
        }
    }

    .lang_swither {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include media('<widescreen') {
            flex-direction: row;
        }

        .lang_btn {
            color: #A7A4A4;
            font-size: 14px;
            letter-spacing: -0.14px;
            transition: all .3s ease 0s;
            cursor: pointer;

            &:hover {
                color: $green;
                transition: all .3s ease 0s;
            }
        }
    }

    .burger_menu {
        display: none;
        position: relative;
        width: 25px;
        height: 20px;
        z-index: 3;

        @include media('<widescreen') {
            display: block;
        }

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $gray;
            border-radius: 10px;
            transition: all .3s ease 0s;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray;
            border-radius: 10px;
            transition: all .3s ease 0s;
        }

        span {
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            background-color: $gray;
            border-radius: 10px;
            transition: all .3s ease 0s;
        }

        @include media('<tablet') {
            display: block;
        }
    }

    .burger_active {
        &::after {
            bottom: 9px;
            transform: rotate(45deg);
            transition: all .3s ease 0s;
        }

        &::before {
            top: 10px;
            transform: rotate(-45deg);
            transition: all .3s ease 0s;
        }

        span {
            opacity: 0;
            transition: all .3s ease 0s;
        }
    }
}