<header id="header">
    <div class="container">
        <div class="header_content">
            <div class="logo_wrap">
                <a href="index.html" class="logo_header">
                    <img src="./images/header_logo.svg" width="165px" height="50px" alt="logo">
                </a>
                <span class="logo_name">Ukraine</span>
            </div>
            <nav class="menu">
              <ul class="menu_list">
                <li class="menu_item"><a class="menu_link" href="manufactoring.html">ВИРОБНИЦТВО</a></li>
                <li class="menu_item"><a class="menu_link" href="company_policy.html">ПОЛІТИКА КОМПАНІЇ</a></li>
                <li class="menu_item"><a class="menu_link" href="production.html">ПРОДУКЦІЯ</a></li>
                <li class="menu_item"><a class="menu_link" href="certificate.html">СЕРТИФІКАТИ</a></li>
                <li class="menu_item"><a class="menu_link" href="contact.html">КОНТАКТИ</a></li>
              </ul>
              <div class="lang_swither">
                  <span class="lang_btn">UKR</span>
                  <span class="lang_btn">ENG</span>
              </div>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>